@using WebApplication2.Models
@model List<UserModel>
@{
    ViewBag.Title = "About";
}

@section styles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
}

<br />
<br />
<br />
<div>
    <div class="container-fluid">
        <table id="contactCenters" class="table .table-striped .table-hover" style="background-color: #c58836;">
            <thead>
                <tr>
                    <th style="display:none"></th>
                    <th><input type="checkbox" id="parentCheckbox"/></th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>EmailID</th>
                    <th>Password</th>
                    <th>Authorized</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/UserDefined/about.js"></script>
}