@{
	ViewBag.Title = "Home Page";
	
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="la.jpg" alt="Chania">
			<div class="carousel-caption">
				<h3>Quantum Simulator Screenshots</h3>
				<p>At Our Delhi Based Center</p>
			</div>
		</div>

		<div class="item">
			<img src="chicago.jpg" alt="Chicago">
			<div class="carousel-caption">
				<h3>Time traversal and charge conjugation in embedding EQS</h3>
				<p>At Our Mohali Based Center</p>
			</div>
		</div>

		<div class="item">
			<img src="ny.jpg" alt="New York">
			<div class="carousel-caption">
				<h3>Schematic diagram of the MagneGST™ Pull-Down System protocol</h3>
				<p>At Our Kota Based Center</p>
			</div>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<div class="container-fluid introduction text-center" style="padding-top:10px; padding-bottom:10px;">
	<h3><strong>World's only OpenS Quantum Research Laboratory</strong></h3>
	<p>See all the research and every nitty-gritties of our research facility. It's all free and open.</p>
	<h3>Why us?</h3><br>
	<div class="row">
		<div class="col-sm-4">
			<p>Pay for what you need only.</p><br>
			<button class="btn CustomButton" style="outline:none !important; border-radius:10px; border-color:#1d2524; background-color:#9c7950">Know More</button>
			<!--<img class="image-responsive" src="payAsYouGo.png" alt="Image" style="width:100%; height:100%; align:middle">-->
		</div>
		<div class="col-sm-4">
			<p>Relieve maintenance charges & headache. It's all done by us for free.</p>
			<button class="btn CustomButton" style="outline:none !important; border-radius:10px; border-color:#1d2524; background-color:#9c7950">Know More</button>
			<!--<img class="image-responsive" src="maintenance.png" alt="Image" style="width:100%; height:100%; align:middle">-->
		</div>
		<div class="col-sm-4">
			<p>We don't share your data unless you license it for CreativeCommons</p>
			<button class="btn CustomButton" style="outline:none !important; border-radius:10px; border-color:#1d2524; background-color:#9c7950">Know More</button>
			<!--<img class="image-responsive" src="dataAccess.png" alt="Image" style="width:100%; height:100%; align:middle">-->
		</div>
	</div>
</div>

<div class="container-fluid Blog-Post-Container">
	<div class="blogPost Blog-Post-Color mt-5">
		<ul class="list-unstyled" style="background-color: #1d333d">
			<li style="padding-left: 5px; padding-top: 1px; border-bottom: solid">
				<h2>Research Insights</h2>
			</li>
			<li class="media Blog-Post-List">
				<div class="media-body">
					<h3 class="mt-0 mb-1">Anisotropic 3D Quantum Spin Liquid With Fraction Topological Order</h3>
					<span>
						<h4 class="label label-success">Physics</h4>
						<h4 class="label label-default">Large Hadron Collider</h4>
					</span>
					<p>
						We present a three-dimensional cubic lattice spin model, anisotropic in the z^ direction, that exhibits fracton topological order.
						The latter is a novel type of topological order characterized by the presence of immobile pointlike excitations, named fractons, residing
						at the corners of an operator with two-dimensional support.
					</p>
					<a href="#Anisotropic-Collapse-Content" id="ReadMoreButton1" class="btn btn-primary Blog-Button" data-toggle="collapse" aria-expanded="false">Read More</a>
					<div class="collapse" id="Anisotropic-Collapse-Content">
						<div class="card card-block" style="background-color: #1d333d;">
							Quantum spin liquids have fascinated condensed matter physicists for decades because of their
							unusual properties such as spin fractionalization and long-range entanglement. Unlike conventional
							symmetry breaking the topological order underlying quantum spin liquids is hard to detect experimentally.
							Even theoretical models are scarce for which the ground state is established to be a
							quantum spin liquid. The Kitaev honeycomb model and its generalizations to other tri-coordinated
							lattices are chief counterexamples — they are exactly solvable, harbor a variety of quantum spin
							liquid phases, and are also relevant for certain transition metal compounds including the polymorphs
							of (Na,Li)2IrO3 Iridates and RuCl3. In this review, we give an overview of the rich physics of the
							Kitaev model, including 2D and 3D fractionalization as well as dynamical correlations and behavior
							at finite temperatures. We discuss the different materials, and argue how the Kitaev model physics
							can be relevant even though most materials show magnetic ordering at low temperatures. <span><a href="https://arxiv.org/pdf/1705.01740.pdf" style="color:#fff">More...</a></span>
						</div>
					</div>
				</div>
			</li>
			<li class="media Blog-Post-List">

				<div class="media-body">
					<h3 class="mt-0 mb-1">New results on collectivity with LHCb</h3>
					<span>
						<h4 class="label label-success">Physics</h4>
						<h4 class="label label-default">Condensed Matter</h4>
						<h4 class="label label-default">High-energy Physics</h4>
					</span>
					<p>
						Two-particle angular correlations are studied in pp collisions at s√=13TeV, collected with the LHCb detector at the LHC. The LHCb detector provides measurement in the very forward region, 2<η
							<5. this region is complementary to other experiments and allows to explore low bjorken-x region.
								the correlations are studied as a function of difference in pseudorapidity (∆η) and azimuthal angle (∆φ) in several pt and activity classes.
					</p>
					<a href="#Condensed-Collapse-Content" id="ReadMoreButton2" class="btn btn-primary Blog-Button" data-toggle="collapse" aria-expanded="false">Read More</a>
					<div class="collapse" id="Condensed-Collapse-Content">
						<div class="card card-block" style="background-color: #1d333d;">
							Two-particle correlations are one of the tools to investigate heavy-ion collisions and its collective effects.
							Azimuthal anisotropies of particles produced in such collisions are one of the signatures of Quark Gluon
							Plasma (QGP). QGP is very hot and dense state of matter, where quarks and gluons are deconfined.
							The experiments ALICE [1], ATLAS [2], CMS [3], LHCb [4] and STAR [5] presented their results suggesting
							the two-particle correlation function of low-multiplicity P bP b events evinces same features as pP b
							and even pp events. LHCb can provide unique results in the η range 2 < η < 5, complimentary to other
							LHC experiments. The forward pseudorapidity region is in the center of interest due to its ability to explore
							small Bjorken-x region and hence probe theories such as Color-Glass Condensate (CGC).
							The study of the correlation function C (∆η, ∆φ) is conventionally done in two dimensions as a function
							of separation in pseudorapidity, ∆η, and azimuthal angle, ∆φ, for pairs of charged prompt particles. This
							function includes many features in different regions. The most striking feature is near-side peak, originating
							from jets. This peak is more narrow with increasing pT <span><a href="https://cds.cern.ch/record/2282751/files/LHCb-PROC-2017-033.pdf" style="color:#fff">More...</a></span>
						</div>
			</li>

			<li class="media Blog-Post-List">
				<div class="media-body">
					<h3 class="mt-0 mb-1">Effects & limitations of a nucleobase-driven backmapping procedure for nucleic acids using...</h3>
					<span>
						<h4 class="label label-success">Biology</h4>
						<h4 class="label label-default">Nucleic Acids</h4>
						<h4 class="label label-default">Structural Analysis</h4>
					</span>
					<p>
						Coarse-grained models can be of great help to address the problem of structure prediction in nucleic acids.
						On one hand they can make the prediction more efficient, while on the other hand, they can also help to identify the essential degrees of freedom and interactions for the description of a number of structures.
					</p>
					<a href="#Nucleic-Collapse-Content" id="ReadMoreButton3" class="btn btn-primary Blog-Button" data-toggle="collapse" aria-expanded="false">Read More</a>
					<div class="collapse" id="Nucleic-Collapse-Content">
						<div class="card card-block" style="background-color: #1d333d;">
							Despite the computational advantages that coarse-grained (CG) models can provide to the study
							of biological and soft matter systems [1], a consistent all-atom representation of their results is
							required in a vast number of cases. The validation of their predictions against data obtained from
							X-ray or neutron scattering experiments, as well as their use in the generation of equilibrated
							configurations for all-atom simulations, are common situations of this type found in multiscale
							modelling.
							Usually, a backmapping procedure starts with the determination of the atomistic coordinates
							from analytical expressions of the positions of the CG sites, or by properly assembling atomistic
							fragments consistent with the CG mapping. Later on, depending on the complexity of the system
							and the desired accuracy, the energy of the resulting structure can be minimized by methods such
							as steepest descent or equilibrated through short MD simulations [2]. <span><a href="https://arxiv.org/ftp/arxiv/papers/1709/1709.08691.pdf" style="color:#fff">More...</a></span>
						</div>
			</li>
		</ul>
	</div>
</div>



<div class="container-fluid faqs text-center">
	<h3>Explore our research centers in India</h3><br>
	<div class="col-sm-4 panel">
		<img src="~/Content/Images/researchCenter1.jpg" alt="Research Facility in Mohali" style="height: 100%; width: 100%; object-fit: contain" />
		<br>
		<p style="margin-top:10px; margin-bottom:10px;">Mohali Center</p>
	</div>
	<div class="col-sm-4 panel">
		<img src="~/Content/Images/researchCenter2.jpg" alt="Research Facility in Bengaluru" style="height: 100%; width: 100%; object-fit: contain" />
		<br>
		<p style="margin-top:10px; margin-bottom:10px;">Bengaluru Center</p>
	</div>
	<div class="col-sm-4 panel">
		<img src="~/Content/Images/researchCenter3.jpg" alt="Research Facility in Delhi" style="height: 100%; width: 100%; object-fit: contain" />
		<br>
		<p style="margin-top:10px; margin-bottom:10px;">Delhi Center</p>
	</div>
</div>