.Blog-Post-Container {
    color: #000000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding-bottom: 0px;
    border-top: 5px solid rgb(29, 51, 61);
}

.blogPost {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.Blog-Post-Color {
    color: rgb(171, 159, 159);
}

.Blog-Post-List {
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 0px;
}

    .Blog-Post-List:hover {
        box-shadow: 10px 0px 40px #000000 !important;
        background-color: #001e33 !important;
    }


.Blog-Button, .Blog-Button:hover, .Blog-Button:active, .Blog-Button:focus {
    outline: none !important;
    border-radius: 10px;
    border-color: #1d2524;
    background-color: #605e5e;
}

.panel {
    margin-bottom: 40px;
    background-color: rgb(29, 51, 61);
}

    .panel:hover {
        box-shadow: 10px 0px 40px #000000;
    }

.CustomButton:hover {
    background-color: #001e33 !important;
    color: #fff !important;
}



body {
    font-family: 'Exo 2', sans-serif;
    line-height: 1.7;
    font-size: medium;
    background-color: #1d333d;
}

.faqs {
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: rgb(29, 51, 61);
    color: rgb(160, 150, 150);
}

.introduction {
    padding-top: 40px;
    background-color: #8a6d3b;
    color: rgb(29, 37, 36);
}

.navbar {
    background-color: #001e33;
    border-color: #382a2a;
}

.navigation {
    padding-left: 100px;
    padding-right: 10px;
}

@media (min-width:720px) {
    .ScienceCarousel {
        max-width: 100%;
    }
}

@media (max-width:720px) {
    .ScienceCarousel {
        max-width: 90%;
    }
}

.carousel-indicators li {
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: #5b1d0a;
}

.carousel-indicators .active {
    margin: 10px;
    background-color: #d8c8c3;
}

.carousel-caption {
    margin: 100px auto;
    position: relative;
    left: auto;
    right: auto;
    bottom: 30%;
}